$colors: (
  neutral: (
    050: "#FAF9F7",
    100: "#E8E6E1",
    200: "#D3CEC4",
    300: "#B8B2A7",
    400: "#A39E93",
    500: "#857F72",
    600: "#625D52",
    700: "#504A40",
    800: "#423D33",
    900: "#27241D",
  ),
  primary: (
    050: "#EAE2F8",
    100: "#CFBCF2",
    200: "#A081D9",
    300: "#8662C7",
    400: "#724BB7",
    500: "#653CAD",
    600: "#51279B",
    700: "#421987",
    800: "#34126F",
    900: "#240754",
  ),
  secondary: (
    050: "#E0FCFF",
    100: "#BEF8FD",
    200: "#87EAF2",
    300: "#54D1DB",
    400: "#38BEC9",
    500: "#2CB1BC",
    600: "#14919B",
    700: "#0E7C86",
    800: "#0A6C74",
    900: "#044E54",
  ),
  tertiary: (
    050: "#FFEEEE",
    100: "#FACDCD",
    200: "#F29B9B",
    300: "#E66A6A",
    400: "#D64545",
    500: "#BA2525",
    600: "#A61B1B",
    700: "#911111",
    800: "#780A0A",
    900: "#610404",
  ),
);
