@use "../abstracts" as *;

.box {
  padding-block: var(--padding-block, spaceValue(space-s));
  padding-inline: var(--padding-inline, spaceValue(space-m));
  background-color: var(--color-bg, #{colorValue(primary, 900)});
  color: var(--color-fg, #{colorValue(neutral, 050)});
}

.box * {
  color: inherit;
}
